*[hidefocus], input, textarea, a {
  outline: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

fieldset, img, html, body, iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

caption, th {
  font-weight: normal;
  font-style: normal;
  text-align: left;
}

em, strong {
  font-weight: bold;
  font-style: normal;
}

body, textarea, select, input, pre {
  font-family: microsoft yahei,arial,helvetica,sans-serif;
  font-size: 14px;
  max-width: 640px;
  margin: 0 auto;
}

body {
  -webkit-text-size-adjust: none;
}

a, button {
  cursor: pointer;
}

textarea {
  resize: none;
  overflow: auto;
}

pre {
  white-space: pre-wrap;
}

a {
  color: #333;
  text-decoration: none;
}

a, input {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

input {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-modify: read-write-plaintext-only;
}

button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.footer {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 34px;
  padding: 5px 0;
  line-height: 34px;
}
.footer li {
  float: left;
  position: absolute;
  height: 34px;
  width: 34px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}
.footer a {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}
.footer .f_act {
  background-color: #f3cd24;
  border-radius: 50%;
}
.footer li:nth-of-type(1) {
  left: 5%;
}
.footer li:nth-of-type(2) {
  left: 33%;
}
.footer li:nth-of-type(3) {
  right: 33%;
}
.footer li:nth-of-type(4) {
  right: 5%;
}
