*[hidefocus], input, textarea, a {
  outline: none; }

body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0; }

fieldset, img, html, body, iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*li{list-style:none;}*/
h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

caption, th {
  font-weight: normal;
  font-style: normal;
  text-align: left; }

em, strong {
  font-weight: bold;
  font-style: normal; }

body, textarea, select, input, pre {
  font-family: microsoft yahei,arial,helvetica,sans-serif;
  font-size: 14px; }

body {
  -webkit-text-size-adjust: none;
  background-color: #ebebeb;
  max-width: 450px;
  margin: 0 auto; }

a, button {
  cursor: pointer; }

textarea {
  resize: none;
  overflow: auto; }

pre {
  white-space: pre-wrap; }

a {
  text-decoration: none; }

a, input {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

input {
  appearance: button;
  -webkit-appearance: button;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-modify: read-write-plaintext-only; }

button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.header {
  width: 100%;
  height: 45px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #fff; }
  .header .logo {
    width: auto;
    height: 35px;
    margin-left: 4%;
    padding: 0 5px;
    border-radius: 8px;
    line-height: 35px;
    color: #fff;
    margin-top: 5px;
    background-color: #ff6666;
    float: left; }
  .header .down {
    float: right;
    color: #fff;
    width: auto;
    height: 26px;
    line-height: 26px;
    margin-top: 8px;
    margin-right: 7%;
    border-radius: 13px;
    background-color: #ff6666;
    padding: 0 20px; }
  .header a {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    color: #fff; }
