.recommend { width: 94%; padding: 15px 3% 45px 3%; height: auto; overflow: hidden;
	.recommend_top { width: 100%; height: auto; overflow: hidden;
		a{ width: 100%; height: auto; overflow: hidden;display: block; }
		
		.recommend_img{width: 100%; height: auto; overflow: hidden; position: relative;
			.recommend_topimg {width: 100%; }
			.video_icon{ width: 30px; height: 30px;  }

		}
		.recommend_des{position: relative;width: 100%; height: 70px; margin-top: 5px;text-align: left; border-bottom: 1px solid #e9e9e9;
			h1{ width: 100%; font-weight: normal; font-size: 16px;  overflow:hidden;white-space:nowrap;text-overflow:ellipsis; }
			.tag_name{ position: absolute; left: 45px; bottom: 14px;font-size: 12px; color: #ababab; }
			.tag_yuanchuang{ font-size: 12px;transform: scale(.9);padding: 0px 5px; border-radius: 20px; border: 1px solid #f3cd24;position: absolute; left: 0; bottom: 13px;color: #f3cd24;}
		}
	}
		.recommend_li{width: 100%; height: auto; overflow: hidden;

			li{ padding: 10px 0;width: 100%; height: 95px; position: relative;border-bottom: 1px solid #e9e9e9; }
			a{ width: 100%; height: 100%; overflow: hidden; display: block; }
			.recommend_right{ width: 126px; height: 95px;float: right;  margin-left: 3%;position: relative;
				.recommend_liimg{width: 100%; height: 100%;}
				.video_icon{ width: 20px; height: 20px;  }
			}
			
			h1{width: 100%; font-weight: normal; font-size: 16px; text-align: left; }
			.tag_source{ position: absolute; left: 0; bottom: 12px; font-size: 12px; color: #ababab;}
		}

	.video_icon{background-image: url(../images/video_icon.png); background-repeat: no-repeat; background-position: center; background-size: cover; position: absolute ; left: 50%; top: 50%;transform: translate(-50%,-50%);}
		
}
