.margin-top { margin-top: 45px; }
ul ,li{ margin: 0; padding: 0; list-style: none; }
/*index*/
.index_con { width: 100%; height: auto; overflow: hidden; background-color: #ebebeb;
	.index_video_img { width: 94%; margin: 23px 3% 10px 3%; position: relative;
		img { width: 100%; }
		a { color: #000; width: 100%; height: 100%; overflow: hidden; display: block; }
		.video_title { width: 100%; height: 37px; line-height: 37px; text-indent: 30px; position: absolute; left: 0; bottom: 0; font-size: 16px; }
	}
	.index_menu { width: 94%; margin: 0 3%;
		li { height: 60px; line-height: 60px; margin-bottom: 10px; line-height: 60px; text-align: center; background-color: #ccc; width: 48.5%; float: left; }
		li:nth-of-type(2n) { margin-left: 3%; }
		a { color: #3c3c3c; width: 100%; height: 100%; overflow: hidden; display: block; }
	}
}
/*videodetail*/
.videodetail { width: 100%; height: auto; overflow: hidden; background-color: #ebebeb;
	.ivideodetail_video  { width: 94%; margin: 23px 3% 10px 3%; background-color: #ccc; min-height: 160px; position: relative;
		.videodetail_title { width: 100%;position: absolute; left: 0; top: 0; height: 34px; line-height: 34px;text-align: center; font-size: 16px; }
		.video { position: absolute; left: 0; top: 0; }
	}
	.video_about { width: 94%; margin: 15px 3%;
		li { float: left; width: 49%; font-size: 13px; margin-bottom: 10px;
			img { width: 100%; }
			p { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100% }
		}
		a { color: #3c3c3c; width: 100%; height: 100%; overflow: hidden; display: block; }
		li:nth-of-type(2n) { margin-left: 2%; }
	}
	.about_title { width: 100%; height: 30px; line-height: 30px; font-size: 16px; text-indent: 3%; margin-top: 5px; }
}