body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:64px;
  top:27px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:86px;
  top:44px;
  width:262px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:31px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:258px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:113px;
  top:565px;
  width:59px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:213px;
  top:565px;
  width:59px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:308px;
  top:565px;
  width:59px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:64px;
  top:75px;
  width:320px;
  height:520px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:520px;
}
#u11 {
  position:absolute;
  left:2px;
  top:252px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:76px;
  top:146px;
  width:300px;
  height:183px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:183px;
}
#u13 {
  position:absolute;
  left:2px;
  top:84px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:196px;
  top:204px;
  width:65px;
  height:64px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:64px;
}
#u15 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:218px;
  top:220px;
  width:25px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:96px;
  top:296px;
  width:173px;
  height:25px;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:25px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:65px;
  top:75px;
  width:320px;
  height:46px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u21 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:265px;
  top:83px;
  width:94px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:83px;
  top:79px;
  width:38px;
  height:35px;
  font-size:10px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:35px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:34px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:76px;
  top:347px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:73px;
  top:395px;
  width:150px;
  height:103px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:103px;
}
#u29 {
  position:absolute;
  left:2px;
  top:44px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:125px;
  top:427px;
  width:43px;
  height:42px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u31 {
  position:absolute;
  left:2px;
  top:13px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:141px;
  top:439px;
  width:17px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:73px;
  top:505px;
  width:116px;
  height:17px;
  font-size:12px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:17px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:229px;
  top:505px;
  width:116px;
  height:17px;
  font-size:12px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:17px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:226px;
  top:396px;
  width:150px;
  height:103px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:103px;
}
#u39 {
  position:absolute;
  left:2px;
  top:44px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:278px;
  top:431px;
  width:43px;
  height:42px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u41 {
  position:absolute;
  left:2px;
  top:13px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:294px;
  top:443px;
  width:17px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
