*[hidefocus], input, textarea, a {
  outline: none; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0; }

fieldset, img, html, body, iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

caption, th {
  font-weight: normal;
  font-style: normal;
  text-align: left; }

em, strong {
  font-weight: bold;
  font-style: normal; }

body, textarea, select, input, pre {
  font-family: microsoft yahei,arial,helvetica,sans-serif;
  font-size: 14px; }

body {
  -webkit-text-size-adjust: none; }

a, button {
  cursor: pointer; }

textarea {
  resize: none;
  overflow: auto; }

pre {
  white-space: pre-wrap; }

a {
  text-decoration: none; }

a, input {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

input {
  appearance: button;
  -webkit-appearance: button;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-modify: read-write-plaintext-only; }

button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.fankui_s .baogao {
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  height: 52px;
  line-height: 52px;
  background-color: #f7f7f7;
  text-align: center; }
.fankui_s .des {
  width: 96%;
  margin-left: 2%;
  height: auto;
  overflow: hidden;
  padding: 10px 0; }
  .fankui_s .des .name {
    width: 28%; }
  .fankui_s .des .sex {
    width: 28%; }
  .fankui_s .des .data {
    width: 44%; }
  .fankui_s .des .time {
    width: 45%; }
  .fankui_s .des .num {
    width: 55%; }
  .fankui_s .des p {
    float: left;
    line-height: 30px; }
.fankui_s .fankui_s_title {
  font-size: 15px;
  background-color: #f2f2f2;
  height: 30px;
  line-height: 30px; }
  .fankui_s .fankui_s_title p {
    width: 4px;
    margin-right: 2%;
    margin-top: 7px;
    margin-left: 3%;
    height: 16px;
    background-color: #108bd0;
    border-radius: 2px;
    float: left; }
.fankui_s .fankui_s_con {
  width: 96%;
  margin: 0 2%;
  height: 30px;
  line-height: 30px; }
  .fankui_s .fankui_s_con .title1, .fankui_s .fankui_s_con .title2 {
    line-height: 30px;
    padding: 5px 0;
    overflow: hidden;
    text-indent: 25px;
    background-repeat: no-repeat;
    background-position: left 10px;
    background-size: 23px; }
  .fankui_s .fankui_s_con .title1 {
    background-image: url(../images/fankui_s_03.jpg); }
  .fankui_s .fankui_s_con .title2 {
    background-image: url(../images/fankui_s_07.jpg);
    margin-top: 20px; }
  .fankui_s .fankui_s_con p {
    line-height: 23px; }
  .fankui_s .fankui_s_con .title_t {
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
    font-size: 15px;
    margin-bottom: 8px;
    margin-top: 6px; }
.fankui_s .scroe div {
  float: left;
  width: 20%;
  text-align: center; }
.fankui_s .scroe .all {
  width: 40%; }
.fankui_s .gan_img {
  padding-top: 20px;
  width: 100%;
  height: auto;
  overflow: hidden; }
  .fankui_s .gan_img img {
    width: 100%; }
.fankui_s .ban {
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
  line-height: 22px;
  color: #7e7d7d; }
.fankui_s .gan_zhu {
  font-size: 12px;
  margin-top: 10px;
  line-height: 22px;
  color: #7e7d7d; }
